@keyframes galleryFadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.mau.nav-link,
.mau.nav-link:hover {
  cursor: pointer;
}

.mau.mg-next,
.mau.mg-prev {
  margin: -25px;
  width: 50px;
  height: 50px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  user-select: none;
  transition: margin-right .5s, margin-left .5s
}

.mau.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto 0 auto
}

.mau#active-tag {
  color: #fff;
  background-color: #363066;
  border-radius: 0
}

@media only screen and (max-width:1000px) {
  .mau.mg-next,
  .mau.mg-prev {
    margin: -25px 15px;
  }
}

.mau#gallery-items-row {
  animation: galleryFadeIn .5s ease-in
}